table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  button {
    margin: 0 4px;
  }

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ReactModal__Content {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 4px;
  }
  